// Mobile => Portrait
@media screen and (min-width: 320px) {
    .nav {
        &__brand {
            padding-bottom: 1em;
        }

        &__links {
            padding-top: 1em;
        }
    }      
    
}

@media screen and  (max-width: 480px) {
    .nav {
        &__brand {
            padding-bottom: 1em;
        }

        &__links {
            padding-bottom: 1em;
        }
    }      
    
}
